.Headings {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 9px;
  line-height: 1.5em;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.Container {
  width: 464px;
  height: 559px;
  background: #fff;
  border-radius: 24px;
}

.Logo {
  position: relative;
  top: -50px;
  left: 300px;
}